<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>社員管理システム</title>
</head>
<tr>

	<H1>社員管理システム</H1>

	<body>
		<form action="/search" method="post">

			<table border="0" align="center">
				<tr>
					<td align="right">顧客ID：</td>
					<td><input type="text" name="customerId" th:value="*{customerId}" /></td>
					<td align="right"><button type="submit" name="search">検索</button></td>
				</tr>
			</table>
		</form>
		<span style="float: right;"><button type="button" onclick="location.href='/spring/'">戻る</button></span>
		<td>&nbsp;</td>

		<hr>



	</body>

</html>